- breadcrumb_title _("Repository")
- page_title _("Repository")
- @content_class = "limit-container-width" unless fluid_layout

%section.settings.as-default-branch-name.no-animate#js-default-branch-name{ class: ('expanded' if expanded_by_default?) }
  .settings-header
    %h4
      = _('Default initial branch name')
    %button.btn.gl-button.btn-default.js-settings-toggle{ type: 'button' }
      = expanded_by_default? ? _('Collapse') : _('Expand')
    %p
      = s_('AdminSettings|The default name for the initial branch of new repositories created in the instance.')
  .settings-content
    = render 'initial_branch_name'

%section.settings.as-mirror.no-animate#js-mirror-settings{ class: ('expanded' if expanded_by_default?) }
  .settings-header
    %h4
      = _('Repository mirroring')
    %button.btn.gl-button.btn-default.js-settings-toggle{ type: 'button' }
      = expanded_by_default? ? 'Collapse' : 'Expand'
    %p
      = _('Configure repository mirroring.')
  .settings-content
    = render partial: 'repository_mirrors_form'

%section.settings.as-repository-storage.no-animate#js-repository-storage-settings{ class: ('expanded' if expanded_by_default?), data: { qa_selector: 'repository_storage_settings_content' } }
  .settings-header
    %h4
      = _('Repository storage')
    %button.btn.gl-button.btn-default.js-settings-toggle{ type: 'button' }
      = expanded_by_default? ? _('Collapse') : _('Expand')
    %p
      = _('Configure repository storage.')
      = link_to s_('Learn more.'), help_page_path('administration/repository_storage_paths.md'), target: '_blank', rel: 'noopener noreferrer'
  .settings-content
    = render 'repository_storage'

%section.settings.as-repository-check.no-animate#js-repository-check-settings{ class: ('expanded' if expanded_by_default?) }
  .settings-header
    %h4
      = _('Repository maintenance')
    %button.btn.gl-button.btn-default.js-settings-toggle{ type: 'button' }
      = expanded_by_default? ? _('Collapse') : _('Expand')
    %p
      - repository_checks_link_url = help_page_path('administration/repository_checks.md')
      - repository_checks_link_start = '<a href="%{url}" target="_blank" rel="noopener noreferrer">'.html_safe % { url: repository_checks_link_url }
      - housekeeping_link_url = help_page_path('administration/housekeeping.md')
      - housekeeping_link_start = '<a href="%{url}" target="_blank" rel="noopener noreferrer">'.html_safe % { url: housekeeping_link_url }
      = html_escape(s_('Configure %{repository_checks_link_start}repository checks%{link_end} and %{housekeeping_link_start}housekeeping%{link_end} on repositories.')) % { repository_checks_link_start: repository_checks_link_start, housekeeping_link_start: housekeeping_link_start, link_end: '</a>'.html_safe }
  .settings-content
    = render 'repository_check'

%section.settings.as-repository-static-objects.no-animate#js-repository-static-objects-settings{ class: ('expanded' if expanded_by_default?) }
  .settings-header
    %h4
      = _('Repository static objects')
    %button.btn.gl-button.btn-default.js-settings-toggle{ type: 'button' }
      = expanded_by_default? ? _('Collapse') : _('Expand')
    %p
      = _('Serve repository static objects (e.g. archives, blobs, ...) from an external storage (e.g. a CDN).')
  .settings-content
    = render 'repository_static_objects'
